{% extends "base.html" %}
{% block title %}
  Events
{% endblock title %}

{% block content %}
{{request.user.id}}
  <div class="container">
    <h1 class="text-center fw-bold mb-3">Event List</h1>
    {% for event in events %}
      <h2>{{ event }}</h2>
    
      <a href="{% url 'event-detail' event.id %}"><button class="btn btn-lg btn-dark fs-4 rounded-3">Event Detail</button></a>
      <a href="{% url 'remain-ticket' %}?event_id={{event.id}}"><button class="btn btn-lg btn-warning fs-4 rounded-3">Remaining Ticket</button></a>

    {% endfor %}
  </div>
{% endblock content %}