{% extends "base.html" %}
{% block title %}
  Update Event
{% endblock title %}

{% block content %}
  <div class="contaier">
    <div class="custom-box">
        <h2 class="text-center fw-bold">Update Events</h2>
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Event Name</label>
                {{ form.event_name }}
            </div>
            <div class="mb-3">
                <div class="row">
                    <div class="col-4">
                    <label for="year" class="form-label fs-5 fw-bold">Year</label>
                    {{form.event_year}}
                    </div>
                    <div class="col-5">
                    <label for="month" class="form-label fs-5 fw-bold">Month</label>
                    {{form.event_month}}
                    </div>
                    <div class="col-3">
                    <label for="day" class="form-label fs-5 fw-bold">Day</label>
                    {{form.event_day}}
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="etime" class="form-label">Event Time</label>
                {{ form.event_time }}
            </div>
            <div class="mb-3">
                <label for="poster" class="form-label">Event Poster</label>
                {{ form.event_poster }}
            </div>
            <div class="mb-3">
                <label for="etype" class="form-label">Event Type</label>
                {{ form.event_type }}
            </div>
            <div class="mb-3">
                <label for="manager" class="form-label">Event Manager</label>
                {{ form.event_manager }}
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Event Description</label>
                {{ form.event_description }}
            </div>
            <div class="mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-lg w-75 mx-auto btn-dark text-light fs-4 fw-bold rounded-3">Update Event</button>
            </div>
        </form>
    </div>
  </div>
{% endblock content %}