<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management | 
        {% block title %}
          
        {% endblock title %}
    </title>
    <!-- Alertify cdn css link -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"/>

    <!-- Tailwind css cdn link -->
    <script defer src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
</head>
<body>

    {% include "navbar.html" %}

    {% block content %}
      
    {% endblock content %}

    {% include "footer.html" %}

    <!-- Alertify cdn js link -->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
    <script>
        var delay = alertify.get('notifier', 'delay');
        alertify.set('notifier','delay', 10);
        alertify.set('notifier','position', 'top-right');
        alertify.success('Hello');
        alertify.set('notifier','delay', delay);
        $('body').one('click', function(){
            delay.dismiss();
        });
    </script>
</body>
</html>