<nav class="navbar navbar-expand-lg px-5 pt-4 pb-3 fixed-top bg-dark navbar_background">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold letter-space-1 fs-4 text-light" href="{% url 'home' %}">Event Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto fs-4 gap-5 nav-menu">
                <li class="nav-item">
                <a class="nav-link text-light {% if request.path == '/' %} fs-3 selected_link  {% endif %}" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light {% if request.path == '/gallery/' %} selected_link  {% endif %}" href="{% url 'venue-list' %}">Venue</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light {% if request.path == '/venue/' %} selected_link  {% endif %}" href="{% url 'view_event' %}">Events</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-light {% if request.path == '/about/' %} selected_link  {% endif %}" href="#">Videos</a>
                </li>
                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link text-light {% if request.path == '/dashboard/' %} selected_link  {% endif %}" href="#">Dashboard</a>
                </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav align-items-lg-center">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown fs-4">
                    <a class="nav-link d-flex align-items-center text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-regular fa-user me-2"></i>&nbsp;{{ request.user.username }}&nbsp;
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end fs-4 py-3 px-1">
                    {% if not request.user.is_superuser %}
                        <li><a class="dropdown-item" href="{% url 'view-venue' %}"><i class="fa-regular fa-id-card me-2"></i>&nbsp;View Venue</a></li>
                        <li><a class="dropdown-item" href="{% url 'update-profile' user.id %}"><i class="fa-regular fa-id-card me-2"></i>&nbsp;Update Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'create-venue' %}"><i class="fa-solid fa-blog me-2"></i>&nbsp;Create a venue</a></li>
                        <li><a class="dropdown-item" href="{% url 'create-venue-staff' %}"><i class="fa-solid fa-image me-2"></i>&nbsp;Create Staff Account</a></li>
                        <li><a class="dropdown-item" href="{% url 'create-event' %}"><i class="fa-solid fa-image me-2"></i>&nbsp;Add Event</a></li>
                        <li><a class="dropdown-item" href="{% url 'events' %}"><i class="fa-solid fa-image me-2"></i>&nbsp;View Event</a></li>
                        <li><hr class="dropdown-divider"></li>  
                    {% endif %}
                    <li><a class="dropdown-item" href="{% url 'change-password' %}"><i class="fa-solid fa-key me-2"></i>&nbsp;Change Password</a></li>                
                    <li><form action="{% url 'log-out' %}" method="post">
                        {% csrf_token %}
                        <button class="dropdown-item btn-link text-decoration-none" type="submit"><i class="fa-solid fa-right-from-bracket me-2"></i>&nbsp;Logout</button>
                    </form>
                    </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item dropdown fs-4">
                    <a class="nav-link text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-regular fa-user me-2 fs-2"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end fs-4 py-3 px-1">
                    <li><a class="dropdown-item" href="{% url 'log-in' %}"><i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;Login</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'registration' %}"><i class="fa-solid fa-user-plus"></i>&nbsp;Register</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

