{% extends "base.html" %}
{% block title %}
  Change Password
{% endblock title %}
{% block content %}
<div class="container">
  <div class="custom-box">
    <h2 class="text-center fw-bold mb-3">Change Your Password</h2>
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="old_password" class="form-label fs-4">Old Password</label>
          {{form.old_password}}
        </div>
        <div class="mb-3">
          <label for="password1" class="form-label fs-4">New Password</label>
          {{form.new_password1}}
        </div>
        <div class="mb-3">
          <label for="password2" class="form-label fs-4">Confirm New Password</label>
          {{form.new_password2}}
        </div>
        <div class="mb-3 form-check ms-3">
            <input type="checkbox" class="form-check-input fs-4" id="show_password">
            <label class="form-check-label fs-5 mt-1" for="show_password">Show Password</label>
        </div>
        <div class="mb-3 d-flex flex-row align-items-center justify-content-center">
          <button class="btn btn-lg btn-light text-dark border border-3 rounded-3 border-dark w-100 fs-3 p-2 fw-bold" type="submit">Change Password</button>
        </div>
    </form>
  </div>
</div>
{% endblock content %}